/*Styling the * element*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*Styling the * element*/
.button{
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2;
	cursor: pointer;
	background: #607d8b;
	border: none;
	color: #fff;
}

/*Styling the * element*/
.textview{
	width: 217px;
	margin: 5px;
	font-size: 25;
	padding: 5px;
	border: none;
	color: #607d8b;
}

/*Styling the * element*/
.main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

colspan

/*Styling the * element*/
.bg{
	background: red;
	height: 100%;
}