/*Let's make sure that the dimensions of any box includes border and padding, this gives us an easy way of sizing our elements*/
*{
    box-sizing: border-box;
}
/*styling.css*/
body{
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Styling the ID container of div element*/
#container{
    width: 90%;
/*    border: 1px solid grey;*/
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

/*Styling the ID header of div element*/
#header{
/*    height: 100px;*/
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

/*Styling the ID brand of div element*/
#brand{
/*    float: left;*/
    flex: 50%;
}

/*Styling the header (h1) and anchor (a) elements*/
h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

/*Styling the ID searchBox of div element*/
#searchBox {
/*    float: right;*/
    flex: 50%;
    background: linear-gradient(#E4F2B9, #B7E953);
    /*  For Safari  */
    background: -webkit-linear-gradient(#E4F2B9, #B7E953);
    /*  For Opera  */
    background: -o-linear-gradient(#E4F2B9, #B7E953);
    /*  For Mozila */
    background: -moz-linear-gradient(#E4F2B9, #B7E953);
    min-width: 400px;
/*    height: 50px;*/
    padding: 20px;
/*    margin-top: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling the class text of div element*/
.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white url(images/search.png) right center no-repeat;
    border: 1px solid #C8D03E;
}

/*Styling the class submit of div element*/
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: #A751D6;
    font-size: 15px;
    border: 1px solid #DCD5E1;
}

/*Styling the class clear of div element*/
.clear{
    clear: both;
}

/*Styling the ID menu of div element*/
#menu{
/*    height: 70px;*/
    background: linear-gradient(#F8F594, #D5D533);
    /*  For Safari  */
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    /*  For Opera  */
    background: -o-linear-gradient(#F8F594, #D5D533);
    /*  For Mozila */
    background: -moz-linear-gradient(#F8F594, #D5D533);
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

/*Styling the unordered list (ul) element*/
ul{
    list-style: none;
}

/*Styling the ID menu of div element and anchor (a) elements*/
#menu a{
/*    float: left;*/
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
}

/*Styling the ID menu of div element, unordered list (ul) and list items (li) elements
using with last-child*/
#menu a:last-child{
    border-right: none;
}

/*Styling the ID menu of div element and anchor (a) elements*/
#menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5d12e7;
    line-height: 30px;
    transition: font-size 0.3s ease;
/*  For Safari  */
    -webkit-transition: font-size 0.3s ease;
/*  For Mozila */
    -moz-transition: font-size 0.3s ease;
/*  For Opera  */
    -o-transition: font-size 0.3s ease;
/*  For Internet Explora  */
     -ms-transition: font-size 0.3s ease;
}

/*Styling the ID menu of div elementmand anchor (a) elements using hover
and the ID menu of div element and anchor (a) elements using active */
#menu a:hover, #menu a.active{
    font-size: 20px;
    font-weight: bold;
    color: #B314DB;
}

/*small screens: vertical menu*/
@media screen and (max-width: 700px){
    #menu{
        flex-direction: column;
        align-content: center;
    }
    #menu a{
        border-right: none;
    }
}

/*Styling the ID introduction of div element*/
#introduction{
    background: linear-gradient(#E5F2BB, #B7E952);
    /*  For Safari  */
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    /*  For Opera  */
    background: -o-linear-gradient(#E5F2BB, #B7E952);
    /*  For Mozila */
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0;
}

/*Styling the ID introduction of div element and header (h3) element*/
#introduction h3{
    font-size: 45px;
    color: #316901;
    font-weight: normal;
}

/*Styling the ID introduction of div element and paragraph (p) element*/
#introduction p{
    font-size: 25px;
    color: #628F19;
    text-align: justify;
}

/*Styling the class sidebars element*/
.sidebars{
    display: flex;
    flex-wrap: wrap;
}

/*Styling the class sidebarWrapper element*/
.sidebarWrapper{
    padding: 5px;
    flex: 50%;
}

/*Styling the class sidebar of div element*/
.sidebar{
    height: 100%;
    width: 100%;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;
/*    flex: 50%;*/
}

/*Styling the class sidebar of div element and header (h3) element*/
.sidebar h3{
    color: #B314DB;
    font-size: 30px;
}

/*Styling the class sidebar of div element and unordered list (ul) element*/
.sidebar ul{
    padding-top: 8px;   
}

/*Styling the class leftsidebar of div element, unordered list (ul) and list items (li) element*/
#leftsidebar ul li{
    padding: 4px 0 4px 10px;
    list-style-image: url(images/arrow.png);
}

/*Styling the class rightsidebar of div element, unordered list (ul) and list items (li) element*/
#rightsidebar ul li{
    padding: 17px 0 17px 70px;
    background: url(images/tick.png) no-repeat left center;
}

/*Styling the class sidebar of div element, unordered list (ul), list items (li)
and anchor (a) elements*/
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5d12e7;
    /*  For Safari  */
    -webkit-transition: font-size 0.3s ease;
    /*  For Mozila */
    -moz-transition: font-size 0.3s ease;
    /*  For Opera  */
    -o-transition: font-size 0.3s ease;
    /*  For Internet Explora  */
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

/*Styling the class sidebar of div element, unordered list (ul), list items (li)
and anchor (a) elements using hover and the class sidebar of div element, unordered list (ul), list items (li)
and anchor (a) elements using active*/
.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: #B314DB;
    font-size: 23px;
    font-weight: bold;
}

/*Styling the ID leftsidebar of div element*/
/*
#leftsidebar{
    float: left;
}
*/

/*Styling the ID rightsidebar of div element*/
/*
#rightsidebar{
    float: right;
}
*/

/*Styling the fclass footer of div element*/
.footer{
    height: 60px;
    background: linear-gradient(#F6F390, #D5D533);
    /*  For Safari  */
    background: -webkit-linear-gradient(#F6F390, #D5D533);
    /*  For Opera  */
    background: -o-linear-gradient(#F6F390, #D5D533);
    /*  For Mozila */
    background: -moz-linear-gradient(#F6F390, #D5D533);
    padding: 10px 30px;
    margin-top: auto;
}